@import "tailwindcss";
@plugin "daisyui";

/*To enable centering of the app*/
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* or center for vertical center */
  background-color: var(--base-200);
}

